@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #result {
  height: 100%;
  margin: 0;
  padding: 0;
}

#result {
  display: flex;
  flex-direction: column;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}